@font-face {
   font-family: "Tenor Sans";
   src: url("../fonts/TenorSans.woff2"), url("../fonts/TenorSans.woff");
   font-weight: 400;
}
@font-face {
   font-family: "Volkhov";
   src: url("../fonts/Volkhov-Bold.woff2"), url("../fonts/Volkhov-Bold.woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Vollkorn";
   src: url("../fonts/Vollkorn-Bold.woff2"), url("../fonts/Vollkorn-Bold.woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
